<html lang="en">
  <head>
    <%- include('include/headdata') %>

    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>

  <body>
    <%- include('include/header') %>

    <main>
      <ul id="side_bar">
        <li id="list_2" class="list_cls">
          <section id="hero">
            <div id="hero-content">
              <div class="waviy">
                <span style="--i:1">V</span>
                <span style="--i:2">I</span>
                <span style="--i:3">S</span>
                <span style="--i:4">I</span>
                <span style="--i:5">O</span>
                <span style="--i:6">N</span>
                <span style="--i:7">i</span>

               </div>
              <p>Let's change the World Together</p>
              <a href="/contact">About Us</a>
            </div>
          </section>
        </li>
        <li id="list_2" class="list_cls">
          <ul id="sidebarid">
            <div id="sd1">
              <h3><a href="#">Crop Management Help</a></h3>
            </li>
            <li class="sidebar_">
              <a href="/questions">Ask Something</a>
            </li>
              <li class="sidebar_">
                <a href="/blogs">Answer Queries</a>
              <li class="sidebar_">
                <a href="/articles">Discuss</a>
              </li>
            </div>
            <div id="sd2">
              <h3><a href="#">Equipment Help</a></h3>
              <li class="sidebar_">
                <a href="/tractors">Tractors</a>
              </li>
              <li class="sidebar_">
                <a href="/harvesters">Harvesters</a>
              </li>
              <li class="sidebar_">
                <a href="#">Seed Drill</a>
              </li>
            </div>
            <div id="sd3">
              <h3><a href="/schemes">Schemes</a></h3>
              <li class="sidebar_">
                <a href="/schemes/new">Add New Schemes</a>
              </li>
              <li class="sidebar_">
                <a href="https://vikaspedia.in/schemesall/schemes-for-farmers/agriculture-infrastructure-fund">* Top Schemes</a>
              </li>
              <li class="sidebar_">
                <a href="https://vikaspedia.in/agriculture/agri-insurance/pradhan-mantri-fasal-bima-yojana">** Top Schemes</a>
              </li>
            </div>
          </ul>
        </li>
        <li class="list_cls">
          <ul id="card3">
            <h3><a href="#">New and Exciting</a></h3>
            <li class="li1">
              <a href="/agro_shop"> Loacte agricultural shops Easily </a>
            </li>
            <!-- <li class="li1"><a href=""> Compare Online </a></li> -->
            <li class="li1"><a href="/silo_maps"> Find best price for your crop </a></li>
            <li class="li1"><a href="https://www.kisanmandi.com/">More</a></li>
          </ul>
        </li>
        <li  class="list_cls">
          <h3  id="main_heading">OUR AIM...</h3>
          <p id="main_id">VISIONi is our platform through which we are trying to make the life of farmers easy.
            We actually want to connect to them, and are trying to solve the main pain points in their jobs/chores that they 
            perform to earn money. Using the technology we are trying to connect the community of farmers and help them in a new way.
            We have tried to keep the user interface very simple so that anyone can use and interact with the interface.
            This is our try to make the agriculture chores easy using technology.
          </p>
          <div id="ek">
          </div>
        </li>
        <li class="list_cls">
          <ul id="card5">
            <h3><a href="#">Find Latest Recommendations here</a></h3>
            <li class="li3">
              <a href="http://localhost:3000/articles/getting-rid-of-birds-to-protect-crop"> Recommendation 1 </a>
            </li>
            <li class="li3"><a href=""> Recommendation 2</a></li>
            <li class="li3"><a href="">Recommendation 3</a></li>
            <!-- <h3><a href="#">Your Suggestions!</a></h3>
            <form action="#">
              <textarea name="as" id="ta" cols="30" rows="10"></textarea>
              <button id="btn">Submit</button>
            </form> -->
            <div id="take"> 
              Contribute us by contributing through your skills and 
              suggest us some changes in the interface and features to enhance our user experience.
              <h5><a href="https://github.com/AdityarajSR/VISIONi">Click Here</a></h5>

            </div>
          </ul>
        </li>
      </ul>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
