272 Bytes

<html lang="en">
  <head>
    <%- include('include/headdata') %>
    <link rel="stylesheet" href="/styles/shared.css" />
  </head>

  <body>


<%- include('include/header') %>
<div class="bpi">
    <h1><%=title%></h1>
    <p><%=body%></p>
</div>
   
  </body>
</html>