<html lang="en">
  <head>
    <%- include('include/headdata') %>
    
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/welcome.css" />
  </head>
<body>
  <%- include('include/auth_header.ejs') %>
  <main>
     <h1 class="welcome">WELCOME @ VISIONi</h1>
    <p class="c1">LET'S MAKE THE  WORLD BETTER</p>
    <p class="cc"> 
      <a id="btn" href="/signup">Signup</a> 
       <a id="btn" href="/login">Login</a> </p> 
      <!-- should only be reachable (and visible in the navigation) if you're  -->
  </main>
</body>
</html>

