    <section class="cardcls">
      <div class="card" style="width: 18rem">
        <img
          src="<%= mytracis.tracimg%> "
          class="card-img-top"
          alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"><%= mytracis.tracname %> </h5>
            <p class="card-text">
              <%= mytracis.tracdescr %> 
            </p>
            <section class="preview">
              <a href="/tractors/<%= mytracis.id %>  " class="btn btn-primary">Official Website</a>
            <a href="#" class="btn btn-primary">Preview</a>
          </section>
        </div>
      </div>
    </section>