<section class="cardcls">
    <div class="card" style="width: 18rem">
      <img
        src="<%= myhari.harimg%> "
        class="card-img-top"
        alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><%= myhari.harname %> </h5>
          <p class="card-text">
            <%= myhari.hardescr %> 
          </p>
          <section class="preview">
            <a href="/harvesters/<%= myhari.id %> " class="btn btn-primary">Details</a>
          <a href="#" class="btn btn-primary">Official Website</a>
        </section>
      </div>
    </div>
  </section>